<%= javascript_tag do %>
    $(function () {
    $('#container').highcharts({
    chart: {
    type: 'scatter',
    zoomType: 'xy'
    },
    title: {
    text: 'IDEB 2013 x recursos PNLD 2012'
    },
    subtitle: {
    text: 'Ensino Fundamental'
    },
    xAxis: {
    title: {
    enabled: true,
    text: 'Recurso do PNLD per capita (R$)'
    },
    startOnTick: true,
    endOnTick: true,
    showLastLabel: true
    },
    yAxis: {
    title: {
    text: 'Avaliação no IDEB'
    }
    },
    legend: {
    layout: 'vertical',
    align: 'left',
    verticalAlign: 'top',
    x: 100,
    y: 70,
    floating: true,
    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
    borderWidth: 1
    },
    plotOptions: {
    scatter: {
    marker: {
    radius: 5,
    states: {
    hover: {
    enabled: true,
    lineColor: 'rgb(100,100,100)'
    }
    }
    },
    states: {
    hover: {
    marker: {
    enabled: false
    }
    }
    },
    tooltip: {
    headerFormat: '',
    pointFormat: 'UF: <b>{point.label}</b> ({series.name})<br />Recurso médio por estudante: <b>R$ {point.x}</b><br />IDEB: <b>{point.y}</b>'
    }
    }
    },
    series: [{
    name: '1ª a 4ª série',
    color: 'rgba(223, 83, 83, .5)',
    data: [{
    "label": "AC",
    "y": 5.1,
    "x": 12.97
    }, {
    "label": "AL",
    "y": 4.1,
    "x": 12.89
    }, {
    "label": "AM",
    "y": 4.7,
    "x": 13.50
    }, {
    "label": "AP",
    "y": 4,
    "x": 14.27
    }, {
    "label": "BA",
    "y": 4.3,
    "x": 12.78
    }, {
    "label": "CE",
    "y": 5.2,
    "x": 12.05
    }, {
    "label": "DF",
    "y": 5.9,
    "x": 12.13
    }, {
    "label": "ES",
    "y": 5.4,
    "x": 11.88
    }, {
    "label": "GO",
    "y": 5.7,
    "x": 11.24
    }, {
    "label": "MA",
    "y": 4.1,
    "x": 13.91
    }, {
    "label": "MG",
    "y": 6.1,
    "x": 11.17
    }, {
    "label": "MS",
    "y": 5.2,
    "x": 10.76
    }, {
    "label": "MT",
    "y": 5.3,
    "x": 11.39
    }, {
    "label": "PA",
    "y": 4,
    "x": 14.10
    }, {
    "label": "PB",
    "y": 4.5,
    "x": 13.66
    }, {
    "label": "PE",
    "y": 4.7,
    "x": 13.33
    }, {
    "label": "PI",
    "y": 4.5,
    "x": 13.29
    }, {
    "label": "PR",
    "y": 5.9,
    "x": 11.01
    }, {
    "label": "RJ",
    "y": 5.2,
    "x": 11.22
    }, {
    "label": "RN",
    "y": 4.4,
    "x": 13.58
    }, {
    "label": "RO",
    "y": 5.2,
    "x": 12.01
    }, {
    "label": "RR",
    "y": 5,
    "x": 13.58
    }, {
    "label": "RS",
    "y": 5.6,
    "x": 11.19
    }, {
    "label": "SC",
    "y": 6,
    "x": 17.47
    }, {
    "label": "SE",
    "y": 4.4,
    "x": 11.79
    }, {
    "label": "SP",
    "y": 6.1,
    "x": 10.69
    }, {
    "label": "TO",
    "y": 5.1,
    "x": 12.59
    }]

    }, {
    name: '5ª a 8ª série',
    color: 'rgba(0, 83, 83, .5)',
    data: [{
    "label": "AC",
    "y": 4.4,
    "x": 19.61
    }, {
    "label": "AL",
    "y": 3.1,
    "x": 16.26
    }, {
    "label": "AM",
    "y": 3.9,
    "x": 17.21
    }, {
    "label": "AP",
    "y": 3.6,
    "x": 15.42
    }, {
    "label": "BA",
    "y": 3.4,
    "x": 18.63
    }, {
    "label": "CE",
    "y": 4.4,
    "x": 17.60
    }, {
    "label": "DF",
    "y": 4.4,
    "x": 15.58
    }, {
    "label": "ES",
    "y": 4.2,
    "x": 15.73
    }, {
    "label": "GO",
    "y": 4.7,
    "x": 15.43
    }, {
    "label": "MA",
    "y": 3.6,
    "x": 18.82
    }, {
    "label": "MG",
    "y": 4.8,
    "x": 14.72
    }, {
    "label": "MS",
    "y": 4.1,
    "x": 16.29
    }, {
    "label": "MT",
    "y": 4.4,
    "x": 16.24
    }, {
    "label": "PA",
    "y": 3.6,
    "x": 17.91
    }, {
    "label": "PB",
    "y": 3.5,
    "x": 16.41
    }, {
    "label": "PE",
    "y": 3.8,
    "x": 16.29
    }, {
    "label": "PI",
    "y": 4,
    "x": 17.26
    }, {
    "label": "PR",
    "y": 4.3,
    "x": 11.19
    }, {
    "label": "RJ",
    "y": 4.3,
    "x": 13.72
    }, {
    "label": "RN",
    "y": 3.6,
    "x": 16.92
    }, {
    "label": "RO",
    "y": 3.9,
    "x": 16.13
    }, {
    "label": "RR",
    "y": 3.7,
    "x": 17.40
    }, {
    "label": "RS",
    "y": 4.2,
    "x": 12.47
    }, {
    "label": "SC",
    "y": 4.5,
    "x": 14.38
    }, {
    "label": "SE",
    "y": 3.2,
    "x": 16.73
    }, {
    "label": "SP",
    "y": 4.7,
    "x": 14.33
    }, {
    "label": "TO",
    "y": 3.9,
    "x": 17.69
    }]

    }]
    });
    });

<% end %>

<h1>REA: Correlacionando dados</h1>
<h2>PNLD x IDEB no Ensino Fundamental</h2>

<p>Esta visualização correlaciona dados do PNLD (Programa Nacional do Livro Didático) e do IDEB (Índice de Desenvolvimento da Educação Básica). Do PNLD extraímos, para cada unidade da federação, a quantidade de recursos investido em cada estudante (per capita) no ano de 2012. Do IDEB, utilizamos a nota para cada UF em 2013. Os dados foram obtidos em suas fontes oficiais: o primeiro <a href="https://github.com/labhackercd/REA/blob/master/E%20sic%20PNLD%202012%20UF%20por%20etapa%20de%20ensino_aluno.xlsx">desta planilha</a> (obtida pelo e-SIC) e do <a href="http://ideb.inep.gov.br/">site do INEP</a>. </p>
<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto" data-highcharts-chart="0"><div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 630px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="630" height="400"><desc>Created with Highcharts 4.1.8</desc><defs><clipPath id="highcharts-1"><rect x="0" y="0" width="562" height="296"></rect></clipPath><linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-4"><stop offset="0" stop-color="#FFF" stop-opacity="1"></stop><stop offset="1" stop-color="#ACF" stop-opacity="1"></stop></linearGradient><linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-5"><stop offset="0" stop-color="#9BD" stop-opacity="1"></stop><stop offset="1" stop-color="#CDF" stop-opacity="1"></stop></linearGradient></defs><rect x="0" y="0" width="630" height="400" strokeWidth="0" fill="#FFFFFF" class=" highcharts-background"></rect><g class="highcharts-button" style="cursor:default;" stroke-linecap="round" transform="translate(596,10)"><title>Chart context menu</title><rect x="0.5" y="0.5" width="24" height="22" strokeWidth="1" fill="white" stroke="none" stroke-width="1" rx="2" ry="2"></rect><path fill="#E0E0E0" d="M 6 6.5 L 20 6.5 M 6 11.5 L 20 11.5 M 6 16.5 L 20 16.5" stroke="#666" stroke-width="3" zIndex="1"></path><text x="0" zIndex="1" style="color:black;fill:black;" y="9"></text></g><g class="highcharts-grid" zIndex="1"></g><g class="highcharts-grid" zIndex="1"><path fill="none" d="M 58 351.5 L 620 351.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 314.5 L 620 314.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 277.5 L 620 277.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 240.5 L 620 240.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 203.5 L 620 203.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 166.5 L 620 166.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 129.5 L 620 129.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 92.5 L 620 92.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 58 54.5 L 620 54.5" stroke="#D8D8D8" stroke-width="1" zIndex="1" opacity="1"></path></g><g class="highcharts-axis" zIndex="2"><path fill="none" d="M 57.5 351 L 57.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 113.5 351 L 113.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 169.5 351 L 169.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 226.5 351 L 226.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 282.5 351 L 282.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 338.5 351 L 338.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 394.5 351 L 394.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 450.5 351 L 450.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 507.5 351 L 507.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 563.5 351 L 563.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><path fill="none" d="M 620.5 351 L 620.5 361" stroke="#C0D0E0" stroke-width="1" opacity="1"></path><text x="339" zIndex="7" text-anchor="middle" transform="translate(0,0)" class=" highcharts-xaxis-title" style="color:#707070;fill:#707070;" visibility="visible" y="388"><tspan>Recurso do PNLD per capita (R$)</tspan></text><path fill="none" d="M 58 351.5 L 620 351.5" stroke="#C0D0E0" stroke-width="1" zIndex="7" visibility="visible"></path></g><g class="highcharts-axis" zIndex="2"><text x="19.25" zIndex="7" text-anchor="middle" transform="translate(0,0) rotate(270 19.25 203)" class=" highcharts-yaxis-title" style="color:#707070;fill:#707070;" visibility="visible" y="203"><tspan>Avaliação no IDEB</tspan></text></g><g class="highcharts-series-group" zIndex="3"><path fill="rgba(223,83,83,0.25)" d="M 0 0"></path><path fill="rgba(0,83,83,0.25)" d="M 0 0"></path><g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(58,55) scale(1 1)" clip-path="url(#highcharts-1)" style=""></g><g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(58,55) scale(1 1)" clip-path="url(#highcharts-2)" style=""><path fill="rgba(223, 83, 83, .5)" d="M 145 98.60000000000002 C 151.66 98.60000000000002 151.66 108.60000000000002 145 108.60000000000002 C 138.34 108.60000000000002 138.34 98.60000000000002 145 98.60000000000002 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 38.77799999999998 24.600000000000023 C 45.437999999999974 24.600000000000023 45.437999999999974 34.60000000000002 38.77799999999998 34.60000000000002 C 32.11799999999998 34.60000000000002 32.11799999999998 24.600000000000023 38.77799999999998 24.600000000000023 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 100.59799999999996 150.39999999999998 C 107.25799999999995 150.39999999999998 107.25799999999995 160.39999999999998 100.59799999999996 160.39999999999998 C 93.93799999999996 160.39999999999998 93.93799999999996 150.39999999999998 100.59799999999996 150.39999999999998 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 419.81399999999996 32 C 426.474 32 426.474 42 419.81399999999996 42 C 413.15399999999994 42 413.15399999999994 32 419.81399999999996 32 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 66.87799999999997 61.60000000000002 C 73.53799999999997 61.60000000000002 73.53799999999997 71.60000000000002 66.87799999999997 71.60000000000002 C 60.217999999999975 71.60000000000002 60.217999999999975 61.60000000000002 66.87799999999997 61.60000000000002 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 201 106 C 207.66 106 207.66 116 201 116 C 194.34 116 194.34 106 201 106 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 112 91.19999999999999 C 118.66 91.19999999999999 118.66 101.19999999999999 112 101.19999999999999 C 105.34 101.19999999999999 105.34 91.19999999999999 112 91.19999999999999 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 201.19600000000003 150.39999999999998 C 207.85600000000002 150.39999999999998 207.85600000000002 160.39999999999998 201.19600000000003 160.39999999999998 C 194.53600000000003 160.39999999999998 194.53600000000003 150.39999999999998 201.19600000000003 150.39999999999998 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 68.56400000000004 91.19999999999999 C 75.22400000000003 91.19999999999999 75.22400000000003 101.19999999999999 68.56400000000004 101.19999999999999 C 61.90400000000004 101.19999999999999 61.90400000000004 91.19999999999999 68.56400000000004 91.19999999999999 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 56.76199999999999 39.39999999999998 C 63.422 39.39999999999998 63.422 49.39999999999998 56.76199999999999 49.39999999999998 C 50.10199999999999 49.39999999999998 50.10199999999999 39.39999999999998 56.76199999999999 39.39999999999998 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 184.89799999999997 143 C 191.55799999999996 143 191.55799999999996 153 184.89799999999997 153 C 178.23799999999997 153 178.23799999999997 143 184.89799999999997 143 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 187 128.2 C 193.66 128.2 193.66 138.2 187 138.2 C 180.34 138.2 180.34 128.2 187 128.2 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 205.692 143 C 212.352 143 212.352 153 205.692 153 C 199.032 153 199.032 143 205.692 143 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 230.42 180 C 237.07999999999998 180 237.07999999999998 190 230.42 190 C 223.76 190 223.76 180 230.42 180 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 78 83.80000000000001 C 84.66 83.80000000000001 84.66 93.80000000000001 78 93.80000000000001 C 71.34 93.80000000000001 71.34 83.80000000000001 78 83.80000000000001 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 42.71199999999999 91.19999999999999 C 49.371999999999986 91.19999999999999 49.371999999999986 101.19999999999999 42.71199999999999 101.19999999999999 C 36.05199999999999 101.19999999999999 36.05199999999999 91.19999999999999 42.71199999999999 91.19999999999999 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 65 24.600000000000023 C 71.66 24.600000000000023 71.66 34.60000000000002 65 34.60000000000002 C 58.34 34.60000000000002 58.34 24.600000000000023 65 24.600000000000023 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 219.74200000000002 172.60000000000002 C 226.40200000000002 172.60000000000002 226.40200000000002 182.60000000000002 219.74200000000002 182.60000000000002 C 213.08200000000002 182.60000000000002 213.08200000000002 172.60000000000002 219.74200000000002 172.60000000000002 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 69 54.19999999999999 C 75.66 54.19999999999999 75.66 64.19999999999999 69 64.19999999999999 C 62.34 64.19999999999999 62.34 54.19999999999999 69 54.19999999999999 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 105 76.39999999999998 C 111.66 76.39999999999998 111.66 86.39999999999998 105 86.39999999999998 C 98.34 86.39999999999998 98.34 76.39999999999998 105 76.39999999999998 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 119 39.39999999999998 C 125.66 39.39999999999998 125.66 49.39999999999998 119 49.39999999999998 C 112.34 49.39999999999998 112.34 39.39999999999998 119 39.39999999999998 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 115 91.19999999999999 C 121.66 91.19999999999999 121.66 101.19999999999999 115 101.19999999999999 C 108.34 101.19999999999999 108.34 91.19999999999999 115 91.19999999999999 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 156 157.8 C 162.66 157.8 162.66 167.8 156 167.8 C 149.34 167.8 149.34 157.8 156 157.8 Z"></path><path fill="rgba(223, 83, 83, .5)" d="M 239.974 180 C 246.634 180 246.634 190 239.974 190 C 233.314 190 233.314 180 239.974 180 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 196.70000000000002 128.2 C 203.36 128.2 203.36 138.2 196.70000000000002 138.2 C 190.04000000000002 138.2 190.04000000000002 128.2 196.70000000000002 128.2 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 162.41800000000003 172.60000000000002 C 169.07800000000003 172.60000000000002 169.07800000000003 182.60000000000002 162.41800000000003 182.60000000000002 C 155.75800000000004 182.60000000000002 155.75800000000004 172.60000000000002 162.41800000000003 172.60000000000002 Z" stroke-width="1"></path><path fill="rgba(223, 83, 83, .5)" d="M 166 98.60000000000002 C 172.66 98.60000000000002 172.66 108.60000000000002 166 108.60000000000002 C 159.34 108.60000000000002 159.34 98.60000000000002 166 98.60000000000002 Z"></path></g><g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(58,55) scale(1 1)" clip-path="url(#highcharts-1)" style=""></g><g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(58,55) scale(1 1)" clip-path="url(#highcharts-2)" style=""><path fill="rgba(0, 83, 83, .5)" d="M 432 187.4 L 437 192.4 432 197.4 427 192.4 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 243.346 128.2 L 248.346 133.2 243.346 138.2 238.346 133.2 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 378 239.2 L 383 244.2 378 249.2 373 244.2 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 246.15600000000006 143 L 251.15600000000006 148 246.15600000000006 153 241.15600000000006 148 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 138 165.2 L 143 170.2 138 175.2 133 170.2 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 415 202.2 L 420 207.2 415 212.2 410 207.2 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 344.506 187.4 L 349.506 192.4 344.506 197.4 339.506 192.4 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 388 209.6 L 393 214.6 388 219.6 383 214.6 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 209.06400000000005 157.8 L 214.06400000000005 162.8 209.06400000000005 167.8 204.06400000000005 162.8 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 66.87799999999997 157.8 L 71.87799999999997 162.8 66.87799999999997 167.8 61.87799999999997 162.8 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 408 180 L 413 185 408 190 403 185 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 353 194.8 L 358 199.8 353 204.8 348 199.8 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 360.242 217 L 365.242 222 360.242 227 355.242 222 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 444 209.6 L 449 214.6 444 219.6 439 214.6 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 350.68799999999993 150.39999999999998 L 355.68799999999993 155.39999999999998 350.68799999999993 160.39999999999998 345.68799999999993 155.39999999999998 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 353.498 172.60000000000002 L 358.498 177.60000000000002 353.498 182.60000000000002 348.498 177.60000000000002 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 265 120.80000000000001 L 270 125.80000000000001 265 130.8 260 125.80000000000001 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 495.684 209.6 L 500.684 214.6 495.684 219.6 490.684 214.6 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 305.166 128.2 L 310.166 133.2 305.166 138.2 300.166 133.2 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 322 165.2 L 327 170.2 322 175.2 317 170.2 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 313.596 150.39999999999998 L 318.596 155.39999999999998 313.596 160.39999999999998 308.596 155.39999999999998 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 427 150.39999999999998 L 432 155.39999999999998 427 160.39999999999998 422 155.39999999999998 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 485.006 224.4 L 490.006 229.4 485.006 234.4 480.006 229.4 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 304.604 209.6 L 309.604 214.6 304.604 219.6 299.604 214.6 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 405 187.4 L 410 192.4 405 197.4 400 192.4 Z"></path><path fill="rgba(0, 83, 83, .5)" d="M 351.8120000000001 246.6 L 356.8120000000001 251.6 351.8120000000001 256.6 346.8120000000001 251.6 Z" stroke-width="1"></path><path fill="rgba(0, 83, 83, .5)" d="M 540.082 150.39999999999998 L 545.082 155.39999999999998 540.082 160.39999999999998 535.082 155.39999999999998 Z" stroke-width="1"></path></g></g><text x="315" text-anchor="middle" class="highcharts-title" zIndex="4" style="color:#333333;font-size:18px;fill:#333333;width:566px;" y="24"><tspan>IDEB 2013 x recursos PNLD 2012</tspan></text><text x="315" text-anchor="middle" class="highcharts-subtitle" zIndex="4" style="color:#555555;fill:#555555;width:566px;" y="41"><tspan>Ensino Fundamental</tspan></text><g class="highcharts-legend" zIndex="7" transform="translate(110,80)"><rect x="0.5" y="0.5" width="99" height="38" strokeWidth="1" stroke="#909090" stroke-width="1" fill="#FFFFFF" visibility="visible"></rect><g zIndex="1"><g><g class="highcharts-legend-item" zIndex="1" transform="translate(8,3)"><path fill="rgba(223, 83, 83, .5)" d="M 8 6 C 14.66 6 14.66 16 8 16 C 1.3399999999999999 16 1.3399999999999999 6 8 6 Z"></path><text x="21" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" zIndex="2" y="15"><tspan>1ª a 4ª série</tspan></text></g><g class="highcharts-legend-item" zIndex="1" transform="translate(8,17)"><path fill="rgba(0, 83, 83, .5)" d="M 8 6 L 13 11 8 16 3 11 Z"></path><text x="21" y="15" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" zIndex="2"><tspan>5ª a 8ª série</tspan></text></g></g></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7"><text x="58" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">10</text><text x="114.2" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">11</text><text x="170.4" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">12</text><text x="226.60000000000002" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">13</text><text x="282.8" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">14</text><text x="339" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">15</text><text x="395.20000000000005" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">16</text><text x="451.40000000000003" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">17</text><text x="507.6" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">18</text><text x="563.8" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">19</text><text x="614.5" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="370" opacity="1">20</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7"><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="356" opacity="1">2.5</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="319" opacity="1">3</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="282" opacity="1">3.5</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="245" opacity="1">4</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="208" opacity="1">4.5</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="171" opacity="1">5</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="134" opacity="1">5.5</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="97" opacity="1">6</text><text x="43" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:198px;text-overflow:clip;" text-anchor="end" transform="translate(0,0)" y="60" opacity="1">6.5</text></g><g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;white-space:nowrap;" transform="translate(369,-9999)" opacity="0" visibility="visible"><path fill="none" d="M 3.5 0.5 L 216.5 0.5 C 219.5 0.5 219.5 0.5 219.5 3.5 L 219.5 60.5 C 219.5 63.5 219.5 63.5 216.5 63.5 L 114.5 63.5 108.5 69.5 102.5 63.5 3.5 63.5 C 0.5 63.5 0.5 63.5 0.5 60.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)" width="219" height="63"></path><path fill="none" d="M 3.5 0.5 L 216.5 0.5 C 219.5 0.5 219.5 0.5 219.5 3.5 L 219.5 60.5 C 219.5 63.5 219.5 63.5 216.5 63.5 L 114.5 63.5 108.5 69.5 102.5 63.5 3.5 63.5 C 0.5 63.5 0.5 63.5 0.5 60.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)" width="219" height="63"></path><path fill="none" d="M 3.5 0.5 L 216.5 0.5 C 219.5 0.5 219.5 0.5 219.5 3.5 L 219.5 60.5 C 219.5 63.5 219.5 63.5 216.5 63.5 L 114.5 63.5 108.5 69.5 102.5 63.5 3.5 63.5 C 0.5 63.5 0.5 63.5 0.5 60.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)" width="219" height="63"></path><path fill="rgba(249, 249, 249, .85)" d="M 3.5 0.5 L 216.5 0.5 C 219.5 0.5 219.5 0.5 219.5 3.5 L 219.5 60.5 C 219.5 63.5 219.5 63.5 216.5 63.5 L 114.5 63.5 108.5 69.5 102.5 63.5 3.5 63.5 C 0.5 63.5 0.5 63.5 0.5 60.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="rgba(223, 83, 83, .5)" stroke-width="1"></path><text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="20"><tspan>UF: </tspan><tspan style="font-weight:bold" dx="0">SC</tspan><tspan dx="0"> (1ª a 4ª série)</tspan><tspan x="8" dy="15">Recurso médio por estudante: </tspan><tspan style="font-weight:bold" dx="0">R$ 17.47</tspan><tspan x="8" dy="15">IDEB: </tspan><tspan style="font-weight:bold" dx="0">6</tspan></text></g><text x="620" text-anchor="end" zIndex="8" style="cursor:pointer;color:#909090;font-size:9px;fill:#909090;" y="395">Highcharts.com</text></svg><div class="highcharts-contextmenu" style="position: absolute; z-index: 1000; padding: 24px; display: none; right: -14px; top: 8px;"><div style="box-shadow: rgb(136, 136, 136) 3px 3px 10px; border: 1px solid rgb(160, 160, 160); padding: 5px 0px; background: rgb(255, 255, 255);"><div style="cursor: pointer; padding: 0px 10px; color: rgb(48, 48, 48); font-size: 11px; background: none;">Print chart</div><hr><div style="cursor: pointer; padding: 0px 10px; color: rgb(48, 48, 48); font-size: 11px; background: none;">Download PNG image</div><div style="cursor: pointer; padding: 0px 10px; color: rgb(48, 48, 48); font-size: 11px; background: none;">Download JPEG image</div><div style="cursor: pointer; padding: 0px 10px; color: rgb(48, 48, 48); font-size: 11px; background: none;">Download PDF document</div><div style="cursor: pointer; padding: 0px 10px; color: rgb(48, 48, 48); font-size: 11px; background: none;">Download SVG vector image</div></div></div></div></div>

<p>Nesse gráfico, cada ponto representa uma unidade da federação. O eixo horizontal representa os gastos no PNLD, e o eixo vertical representa o resultado no IDEB. É possível visualizar uma tendência <b>negativa</b> entre recursos do PNLD e avaliações do IDEB. O que isso significa? Que quanto <b>mais</b> recursos são aportados para cada estudante no PNLD, <b>menor</b> é a avaliação daquela UF no IDEB. Quais podem ser esses motivos?</p>
<p>Os <b>mapas do Brasil</b> abaixo estão coloridos com base nos mesmos dados do gráfico acima, mas nesse caso ilustra-se a <b>relação</b> entre os gastos do PNLD e o IDEB: quanto <b>mais escuro</b> uma UF, maior é o resultado obtido no IDEB para cada real investido no PNLD. </p>
<p>Nos primeiros anos do Ensino Fundamental, observa-se a seguinte relação:</p>
<p></p>

<%= render 'layouts/map' , recurso: "recursos_ideb_4s" %>

<p>Nos anos posteriores do Ensino Fundamental observa-se o seguinte:</p>
<p>Apesar de haver outros períodos disponíveis para a construção das visualizações, optamos por usar os dados do PNLD de 2012 e do IDEB de 2013, considerando que os recursos empregados em um ano gerariam efeitos apenas no ano seguinte. Esses são os conjuntos de dados mais recentes que permitem realizar essa associação.

  <%= render 'layouts/map' , recurso: "recursos_ideb_8s" %>

</p>

